footer
  .footer
    .footer__footer
      .footer__main
        .footer__content_services.footer__copyright        
          p Todos los Derechos Reservados ® <span class="line"><strong> MORALES & Cia. Ltda.</strong> © 2017.</span>
          a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD
        .footer__content_adress
          h2.footer__title COCHABAMBA - BOLIVIA
          p.footer__text <span class="line">Av. Blanco Galindo O-3340 Km 4 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4242808 – 4427167 · <strong>Fax:</strong> 4020155 · <strong>Cel.:</strong> 72222180</span>
          p.footer__text <span class="line">Av. Blanco Galindo O-1332 Km 1 1/2</span><span class="line"><strong>&nbsp;· Telfs.:</strong> 4240633 – 4249383 · <strong>Fax:</strong> 4281787</span>
          .footer__contact
            .colEmail
              p.footer__text moralcia@supernet.com.bo &nbsp;moralcia.4@supernet.com.bo
            .colWhatsapp
              p.footer__text.block <span class="whatsapp line"> 70724509</span><span class="whatsapp line"> 70367364</span>

          //- a.main-footer__link(href="./contactos.html") <i class="icon icon-marker"></i> <strong> VER MAPA </strong>
  .footer_providers
    .provider__title
      h2.provider__title_h2 NUESTROS PROVEEDORES:
    .provider__slide
script(src="js/bundle.js")
script(src="js/main.js")
  
