//- Mixins-ini
include mixins.pug
//- Mixins-end
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
  meta(name='description', content='Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel.')
  meta(property="og:title" content="Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores.")
  meta(property="og:description" content="Sistemas de inyección de las marcas Bosch y Zexel. Turboalimentadores BorgWarner y Garrett. Importadores exclusivos  de tractores Zetor. Repuestos para tractores agrícolas FIAT, Perking y Massey Ferguson. Reparación y mantenimiento de sistemas de inyección diesel mecánicos y electrónicos. Laboratorio de reparación y balanceo dinámico de turboalimentadores, electrónico digital. Importación de venta de motores diesel.")  
  meta(name='author', content='')
  meta(name='keywords', content='')
  link(rel="stylesheet", href="css/jquery.fancybox.min.css")
  link(rel="stylesheet", href="styles.css") 
  title Morales & Cia.Ltda. : Sistemas de inyección diesel y turbo alimentadores
