header.header
  .header__container
    .header__inicio
      ul.main-inicio
        li.main-inicio__item: a.main-inicio__link.wow.swing(href="./") Inicio
        li.main-inicio__item: a.main-inicio__link.wow.swing(href="./nosotros.html") Nosotros
        li.main-inicio__item: a.main-inicio__link.wow.swing(href="./contactos.html") Contactos      
      .header__slogan
        h3.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay="1.1s") LABORATORIO<br>DE INYECCIÓN DIESEL Y TURBOS
    .main-center.toggle__menu
      #main-nav-toggle.main-end.button__toggle.button
        span MENÚ 
        .nav-toggle        
    .header__logo
      a(href="./"): img(src="./images/isologo.png", alt="Morales & CIA")
      .logo__unbral