<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include head.pug
  body.body
    include header.pug
    section.section
      main.content
        h2.title__content Importación y venta de motores diesel
        .col60
          a.center__logo(href="images/motores-diesel/C10356452.jpg", data-fancybox="motor-diesel", data-caption="Motor Diesel")
            img(src="images/motores-diesel/C10356452.jpg", alt="Motor Diesel")
        p.content__text Las soluciones de energía de nuestros motores diesel están diseñadas para mejorar su rendimiento y productividad. 
        p.content__text La innovación y la excelencia en ingeniería en más de 20 millones de motores, de los cuales más de la mitad aún alimentan al mundo y a nuestros clientes.
        hr
        article.content__article
          #perkins.subtitle__content_big
            img.center__logo(src="images/motores-diesel/perkins.jpg", alt="Perkins")
          .gallery__item
            a.col__img(href="images/motores-diesel/C10303408.jpg", data-fancybox="motores", data-caption="402D-05 Motor Diesel Industrial")
              img(src="images/motores-diesel/thumbs/C10303408.jpg", alt="402D-05 Motor Diesel Industrial")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text 402D-05 Motor Diesel Industrial 
          .gallery__item
            a.col__img(href="images/motores-diesel/C10356452.jpg", data-fancybox="motores", data-caption="403D-07 Motor Diesel Industrial")
              img(src="images/motores-diesel/thumbs/C10356452.jpg", alt="403D-07 Motor Diesel Industrial")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text 403D-07 Motor Diesel Industrial 
          .gallery__item
            a.col__img(href="images/motores-diesel/C10356453.jpg", data-fancybox="motores", data-caption="Motor diesel industrial 403D-11")
              img(src="images/motores-diesel/thumbs/C10356453.jpg", alt="Motor diesel industrial 403D-11")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Motor diesel industrial 403D-11
               
      +aside('IMPORTACIÓN Y VENTA DE MOTORES DIESEL')
    include footer.pug