mixin aside(ruta)
  - var status1 = false
  - var status2 = false
  - var status3 = false
  - var status4 = false
  - var status5 = false
  - var status6 = false
  - var status7 = false
  case ruta
    when 'Inicio'
      - var status1 = true
    when 'Nosotros'
      - var status2 = true
    when 'Contactos'
      - var status3 = true
    when 'SISTEMAS DE INYECCIÓN'
      - var status4 = true
    when 'TURBOALIMENTADORES'
      - var status5 = true
    when 'TRACTORES AGRÍCOLAS'
      - var status6 = true
    when 'REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN'
      - var status7 = true
    when 'LABORATORIO DE REPARACIÓN Y BALANCEO'
      - var status8 = true
    when 'REPUESTOS PARA TRACTORES AGRÍCOLAS'
      - var status9 = true
    when 'IMPORTACIÓN Y VENTA DE MOTORES DIESEL'
      - var status10 = true
  aside.menu-aside
    nav.main-nav#main-nav
      ul.main-movil
        li.main-movil__item(class=status1 ? '': null): a.main-movil__link(href="./") Inicio
        li.main-movil__item(class=status2 ? '': null): a.main-movil__link(href="./nosotros.html") Nosotros
        li.main-movil__item(class=status3 ? '': null): a.main-movil__link(href="./contactos.html") Contactos
      ul.main-menu#main-menu
        li.main-menu__item(class=status4 ? 'active': null): a.main-menu__link(href="sistemas-de-inyeccion.html") SISTEMAS DE INYECCIÓN
        li.main-menu__item(class=status5 ? 'active': null): a.main-menu__link(href="turboalimentadores.html") TURBOALIMENTADORES
        li.main-menu__item(class=status6 ? 'active': null): a.main-menu__link(href="tractores-agricolas.html") TRACTORES AGRÍCOLAS
        li.main-menu__item(class=status7 ? 'active': null): a.main-menu__link(href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html") REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN
        li.main-menu__item(class=status8 ? 'active': null): a.main-menu__link(href="laboratorio-de-reparacion-y-balanceo.html") LABORATORIO DE REPARACIÓN Y BALANCEO
        li.main-menu__item(class=status9 ? 'active': null): a.main-menu__link(href="repuestos-para-tractores-agricolas.html") REPUESTOS PARA TRACTORES AGRÍCOLAS
        //- li.main-menu__item(class=status10 ? 'active': null): a.main-menu__link(href="importacion-y-venta-de-motores-diesel.html") IMPORTACIÓN Y VENTA DE MOTORES DIESEL
      ul.main-desktop
          li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status4 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0s")
            a.main-menu__link(href="sistemas-de-inyeccion.html") SISTEMAS DE INYECCIÓN
            ul.submenu.main-desktop
              li.submenu__li: a.submenu__link(href="sistemas-de-inyeccion.html#BOSCH") Bosch
              li.submenu__li: a.submenu__link(href="sistemas-de-inyeccion.html#ZEXEL") Zexel
              li.submenu__li: a.submenu__link(href="sistemas-de-inyeccion.html#DELPHI") Delphi
              li.submenu__li: a.submenu__link(href="sistemas-de-inyeccion.html#DENSO") Denso
          li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status5 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0.1s")
            a.main-menu__link(href="turboalimentadores.html") TURBOALIMENTADORES
            ul.submenu.main-desktop
              li.submenu__li: a.submenu__link(href="turboalimentadores.html#BORGWARNER") BorgWarner
              li.submenu__li: a.submenu__link(href="turboalimentadores.html#GARRETT") Garrett
          li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status6 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0.2s"): a.main-menu__link(href="tractores-agricolas.html") TRACTORES AGRÍCOLAS [ZETOR]
          li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status7 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0.3s")
            a.main-menu__link(href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html") REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN
            ul.submenu.main-desktop
              li.submenu__li: a.submenu__link(href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-mecanicos") Sistemas de inyección diesel mecánicos
              li.submenu__li: a.submenu__link(href="reparación-y-mantenimiento-de-sistemas-de-inyeccion.html#diesel-electricos") Sistemas de inyección diésel electrónicos
          li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status8 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0.4s")
            a.main-menu__link(href="laboratorio-de-reparacion-y-balanceo.html") LABORATORIO DE REPARACIÓN Y BALANCEO
            ul.submenu.main-desktop
              li.submenu__li: a.submenu__link(href="laboratorio-de-reparacion-y-balanceo.html#balanceo-dinamico-de-turboalimentadores") Balanceo dinámico de turboalimentadores
              li.submenu__li: a.submenu__link(href="laboratorio-de-reparacion-y-balanceo.html#balanceo-electronico-o-digital") Balanceo electrónico o digital
          li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status9 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0.5s")
            a.main-menu__link(href="repuestos-para-tractores-agricolas.html") REPUESTOS PARA TRACTORES AGRÍCOLAS
            ul.submenu.main-desktop
              li.submenu__li: a.submenu__link(href="repuestos-para-tractores-agricolas.html#fiat") FIAT
              li.submenu__li: a.submenu__link(href="repuestos-para-tractores-agricolas.html#perkins") Perkins
              li.submenu__li: a.submenu__link(href="repuestos-para-tractores-agricolas.html#massey-ferguson") Massey Ferguson
          //- li.main-menu__item.item__toggle.wow.rotateInUpRight(class=status10 ? 'item__active': null, data-wow-duration="1.5s", data-wow-delay="0.6s"): a.main-menu__link(href="importacion-y-venta-de-motores-diesel.html") IMPORTACIÓN Y VENTA DE MOTORES DIESEL
          .ir-arriba#ir-arriba(style="display: block;") 
            span ^
            b IR ARRIBA 