$cssCore: false;
$cssHelpers: false;
$devMode: false;
$container : container;
$item      : item;
$breakpoints : (
  s  : 0,
  m  : 800px,
  l  : 1024px,
  xl : 1440px
  );
  @import '../ed-grid';
  @font-face{
    font-family:steelfish_rg;
    src:url(./fonts/steelfish_rg.eot);
  }
  @font-face {
    font-family:steelfish_rg;
    src: url(./fonts/steelfish_rg.otf) format("truetype");
  }
  @font-face{
    font-family:steelfish_rg;
    src:url(./fonts/steelfish_rg.ttf) format("truetype");
  }
  $navy: darken(navy,10);$white:#fff;$silver:silver;
  
  //---------------------- INI FOOTER ----------------------------------
footer{
  position: relative;
  // @include stickyFooter;
}
.footer{
  @include to(m){
    background: linear-gradient(180deg,$navy 55%,transparent 0),url(../images/header.svg) no-repeat;
    background-position: bottom;
  }
  @media screen and (max-width: 490px) and (min-width: 0){
    background: linear-gradient(180deg,$navy 71%,transparent 0),url(../images/header.svg) no-repeat;
    background-position: bottom;
  }
  @include fromTo(m,l){
    background: linear-gradient(180deg,$navy 44%,transparent 0),url(../images/header.svg) no-repeat 29% 0%;
    background-position: bottom;
  }
  @include fromTo(l,xl){
    background: linear-gradient(180deg,$navy 35%,transparent 0),url(../images/header.svg) no-repeat;
    background-position: bottom left;
  }
  @include from(xl){
    background: linear-gradient(180deg,$navy 10px,transparent 0),url(../images/header.svg) no-repeat;
    background-size: cover;
    background-position: bottom left;
  }
  transform: rotate(180deg);
  width: 100%;
}
.footer_providers{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.provider__title{
    padding-left: 15px;
    color: #00004d;
    text-shadow: -1px 1px 4px hsla(0, 0%, 100%, 0.78);
    background: linear-gradient(90deg,#ff180d 20%,#ff180d 37%,transparent);
    font-size: 1rem;
    @include to(m){
      font-size: 0.8rem;
    }
}
.provider__title_h2{
  @include edContainer;
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}
.provider__slide {
  height: 100px;
  @include from(m){
    background: url(images/proveedores-desktop.jpg) repeat 0% 100%;
  }
  @include to(m){
    background: url(images/proveedores.jpg) repeat 0% 100%;
  }
  animation-name: animlogos;
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  margin-top: 1px;
}
@keyframes animlogos{
  0% {
      background-position: 0% 100%;
  }
  100% {
      background-position: 100% 100%;
  }
}
.footer__footer{
  transform: rotate(180deg);
}
.footer__main{
  margin-top: 10px;
  padding-bottom: 20px;
  @include edContainer;
  @include mainDistribute;
  @include to(m){
    flex-direction: column-reverse;
  }
}
.footer__content{
  margin-bottom: 5px;
  padding: 10px;
  background: hsla(0,0%,100%,.67);
  box-shadow: inset 1px 1px 5px 2px #002fa3;
  border: 3px solid #002fa3;
}
.footer__content_services{
  @include edItem(100,30,30);
  @include mainStart;
}
.footer__title{
  width: 100%;
  margin-bottom: 5px;
  text-align: end;
  color: $white;
}
.footer__text{
  position: relative;
  color: $white;
  text-align: end;
  margin: 0;
  line-height: 1.5;
}
.footer__main_fot{
  @include edContainer
}
.footer__copyright{
  @include crossEnd;
  line-height: 1.5;
  p,.ah{
    color: white;
    text-shadow: 1px 1px 5px lighten($navy, 10);
  }
  p{
    margin: 0;
  }
}
.footer__contact{
  @include crossCenter;
}
.footer__content_adress{
  @include edItem(100,70,70);
  @include mainEnd;
  @include crossEnd;
  padding-bottom: 6px;
  @include fromTo(s,m){
    padding-top: 135px;
  }
  @include fromTo(m,l){
    padding-top: 130px;
  }
  @include fromTo(l,xl){
    padding-top: 125px;
  }
  @include from(xl){
    padding-top: 180px;
  }
}
figure{
  margin: 0;
}
.body{
  background: transparent url(../images/header.svg);
  background-position: 100% 0;
  background-size: contain;
  background-repeat: no-repeat;
  @include to(m){
    background-position-y: 20px;
    .header{
      background: linear-gradient($navy 20px,transparent 0);
      height: 100%;
    }
  }
  @include from(m){
    background-position-y: 0;
  }
  @include from(l){
    background-position-y: -5px;
  }
  @include from(1200px){
    background-position-y: -15px;
  }
  @include from(1300px){
    background-position-y: -30px;
  }
}
.header__container{
  @include edContainer
}
.header__inicio{
  @include edItem(40,65,72);
  @include mainStart;
  @include crossStart;
  @include to(m) {
    display: none;
  }
}
.main-inicio{
  @include edItem(100,100,47);
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}
.main-inicio__item{
  margin-bottom: 0;
  border-bottom: 1px solid rgba($navy, 2);
  text-align: center;
  // @include button(transparent, $navy, radius);

  // background: linear-gradient(#b7b7b7 , white,#b7b7b7);
  margin-top: 5px;
  transition: .1s all;
  &:hover{
    border-bottom: solid 1px $white;
  }
}
.main-inicio__link{
  display: block;
  padding: 0 1.4rem;
  color: $white;
  &:hover {
    text-decoration: none;
  }
}
.header__slogan{
  @include edItem(0,100,53);
  @include mainEnd;
  @include crossEnd;
  text-align: end;
  text-shadow: 1px 2px 2px $white;
  color: $navy;
  padding: 22px 0 15px;
  height: 100%;
  @include to(l){
    height: 84%;
  }
  @include hideTo(m);
  h3{margin: 0;font-size: 1.3rem;}
}
.header__logo{
  @include edItem(40,35,28);
  @include from(xl){
    padding: 95px 0 1%;
  }
  @include fromTo(l,xl){
    padding: 75px 0 1%;
  }
  @include fromTo(m,l){
    padding: 75px 0 1% 0;
  }
  @include to(m){
    padding: 70px 0 2% 0;
  }
  @include to (490px){
    width: 60%;
    padding: 65px 0 2% 0;
  }
}
.main-nav.show-menu {
  z-index: 9;
}
.main-movil{
  width: 30%;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @include edMenu(s);
  @include from(m){
    display: none;
  }
  @include to(m){
    display: flex;width: 100%;
  }
}
.main-movil__item{
  background: white;
  border-right: 1px solid #666666;
  border-top: 1px solid #666666;
  &:hover{
    background: darken($white, 10);
  }
  @include from(m) {
    border-right: 1px solid rgba($navy, 2);
  }
}
.main-movil__link{
  color: $navy;
}
.main-menu{
  @include edMenu(m);
  @include hideFrom(m);
  a{
    line-height: 1.2rem;
    padding: 0.4em 0.5rem;
  }
}
.main-desktop{
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;
  @include to(m){
    display: none;
  }
}

.main-menu__item{
  position: relative;
  background: $navy;
  border-bottom: 1px solid rgba($white, 2);
  padding-left: 20px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(90deg,silver 7px,#ff180d 0,#ff180d 14px,silver 0);
  }
  &:hover{
    background: lighten($navy, 10);
  }
  @include from(m) {
    font-size: 0.9rem;
    border-right: 1px solid rgba($white, 2);
  }
  @include from(l){
    font-size: 1.1rem;
  }
}
.main-menu__item_active{
  background: lighten($navy, 10);
}
.main-menu__link{
  color: #fff;
  width: 100%;
  padding: 15px 10px 15px 0;
  &:hover{
    text-decoration: none;
  }
}
//--- SUBMENU HOVER ini----//
.submenu{
  @include edItem(100,80,70);
  position: absolute;
  top:0;
  left: 0;
  padding: 0;
  background: $silver;
  text-align: left;
  will-change: transform, opacity;
  transform-origin: left;
  transform: perspective(2500px) rotateY(90deg) translate(-100%);
  transition: .9s;
  opacity: 0.5;
  z-index: 9;
}
.submenu__li{
  @include crossCenter;
  height: 50px;
  text-align: center;
  border-right: 1px solid $white;
  border-bottom: solid 2px darken($silver, 25);
  &:hover{
    background:darken($silver, 10);
    .submenu__link{
      text-decoration: none;
    }
  }
}
.submenu__link{
  width: 100%;
  padding: 15px;
  color: lighten($navy, 10);
}
.item__toggle{
  position: relative;
  @include mainEnd;
  @include crossCenter;
  text-align: end;
  background: linear-gradient(90deg,transparent 20px,$navy 0);
  border-bottom: 2px solid $white;
  padding-left: 20px;
  height: 50px;
  font-size: 1rem;
  &:hover{
    background: linear-gradient(90deg,transparent 20px,lighten($navy,10) 0);
    .submenu{
      opacity: 1;
      transform: perspective( 2500px) rotateY(0) translate(-100%);
    }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 48px;
      background: linear-gradient(90deg,silver 7px,lighten($navy, 10) 0, lighten($navy, 10) 14px, silver 14px);
    }
  }
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 48px;
    background: linear-gradient(90deg,silver 7px,#ff180d 0, #ff180d 14px, silver 14px);
  }
}
.item__active{
  background: linear-gradient(90deg,transparent 20px,lighten($navy,10) 0);
  &::after{
    background: linear-gradient(90deg,silver 7px,lighten($navy, 10) 0, lighten($navy, 10) 14px, silver 14px);
  }
}
//--- SUBMENU HOVER end----//
.main-nav{
  z-index: 1;
  @include edNav(left,m);
  @include to(m){
    position: absolute;
    width: 100%;
    left: -100%;
    height: auto;
  }
  @include from(m){
    width: 95%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.button__toggle{
  position: relative;
  width: 85px;
  height: 51px;
  margin-top: 12px;
  border-radius: 5px;
  background: $white;
  box-shadow: 0px 0px 3px 0px $navy;
  @include crossCenter;
  span{
    position: absolute;
    top: 0;
    left: 50%;
    line-height: 1.5;
    transform: translate(-44%);
  }
}
.toggle__menu{
  @include edItem(60);
  @include mainStart;
  @include crossStart;
  cursor: pointer;
  @include showTo(m);
  @include to (490px){
    width: 40%;
    @include crossCenter;
    @include mainCenter;
  }
}
.nav-toggle{
  @include navToggle(15px, $navy); //tamaño y color
  @include showTo(m);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-40%);
  margin-bottom: .5rem;
}

//---------------------- END HEADER ----------------------------------
article,.section{
  @include edContainer;
  margin-bottom: 15px;
}
.section{
  @include to(m){
    flex-direction: column-reverse;
  }
}
.content{
  // @include edContainer;
  display: block;
  @include edItem(100,65,72);
}
.menu-aside{
  @include edItem(100,35,28);
  position: relative;
  padding: 0;
}
.iframe__map{
  width: 100%;
}
.title__content{
  @include edContainer;
  padding: 10px 10px 10px 25px;
  margin-top: 0;
  margin-bottom: 10px;
  background: linear-gradient(90deg,$navy 5px,5px,red 8px,5px,$silver 12px,10px, $navy -5%,transparent 100%);
  font-family: steelfish_rg,Arial,Helvetica,sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: initial;
  text-shadow: 2px 0px 5px $navy;
  color: white;
  @include to(560px){
    font-size: 2rem;
  }
}
.subtitle__content,.subtitle__content_big{
  width: 100%;
  margin-top: 0;
  font-weight: 500;
  text-align: left;
  color: $navy;
  text-shadow: 2px 1px 1px rgba(45, 45, 179, 0.62);
}
.subtitle__content_big{
  font-family: steelfish_rg,Arial,Helvetica,sans-serif;
  font-size: 2.8rem;
  // font-size: 2rem;
  margin-bottom: 10px;
}
.content__article{
  @include mainStart;
  width: 100%;
  margin-bottom: 15px;
}
.content__list{
  list-style: none;
}
.content__li{
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  &::after{
    content: '';
    top: 0;
    left: -20px;
    position: absolute;
    border-top: 9px solid transparent;
    border-left: 12px solid $navy;
    border-bottom: 9px solid transparent;
  }
}
.content__img, .content__list{
  @include mainCenter;
  @include crossStart;
  font-size: 1.1rem;
}
.content__img{
  @include edItem(100,100);
}
.content__list{
  @include edItem(100,100);
  margin-bottom: 10px;
}
.content__text{
  font-size: 1.1rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.gallery__item{
  @include edItem(50,50,33.3333);
  padding: 0;
  will-change: transform opacity;
  transition: 0.5s all;
}
.gallery__text{
  margin-top: 5px;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}
.col__img{
  @include mainJustify;
  @include crossStart;
  position: relative;
  padding: 5px;
  transition: all .5s;
  cursor: zoom-in;
  img{
    width: 100%;
    height: 250px;
    @include to(450px){
      height: 180px;
    }
    object-fit: contain;
    border: 2px solid silver;
    padding: 0;
  }
  :focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  .gallery__hover{
      position: absolute;
      @include mainCenter;
      @include crossCenter;
      top: 7px;
      left: 7px;
      width: calc(100% - 14px);
      height: calc(100% - 14px);
      color: white;
      text-shadow: 1px 1px 1px #00004d, -1px -1px 18px #00004d;
      background:  radial-gradient(hsla(0, 0%, 40%, 0.28),$navy);
      font-size: 1.8rem;
      @include to(450px){
        height: 180px;
        font-size: 1.5rem;
      }
      opacity: 0;
      will-change: transform opacity;
      transform: scale(.1);
      transition: 0.5s all;
  }
  &:hover{
    .gallery__hover{
      opacity: 1;
      transform: scale(1);
    }
  }
}
.center__logo{
  @include mainCenter;
  @include crossCenter;
  margin-right: auto;
  margin-left: auto;
}
a.center__logo{
  cursor: zoom-in;
}
//---------------------- END CONTENT ----------------------------------
//---------------------- INI CONTACT ----------------------------------
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form__label{
  @include edItem(100);
  color: $navy;
}
.form__input{
    @include edItem(100);
    background: #efefef;
    color: #000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
}
//---------------------- END CONTACT ----------------------------------

.colEmail{
  @include edItem(100,70,60);
  padding: 0;
}
.colWhatsapp{
  @include edItem(100,30,40);
  @include crossCenter;
  padding: 0;
}
.ah{
    width: 100%;
    opacity: .25;
    margin-top: 10px;
    font-size: 0.8rem;
}
.block{
  display: block;
  width: 100%;
}
.line{
  display: inline-block;
}
.whatsapp{position: relative;
  padding-left: 27px;
  margin: 5px 0;
  margin-left: 15px;
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    background: transparent url('images/whatsapp.png') no-repeat ;
    background-size: 100%;
  }
}
.active{
  background: lighten($navy, 15);
}
//---------------------- END FOOTER ----------------------------------
.form{
  @include edContainer;
  margin-top: 10px;
}
.col50{
  @include edItem(100,50);
}
.col60{
  border: solid 2px silver;
  margin-bottom: 10px;
  @include from(l){
    @include toRight(70%,10px)
  }
  @include from(m){
    @include toRight(65%,10px)
  }
  @include to(m){
    @include toRight(60%,10px)
  }
  @include to(520px){
    @include toRight(100%,0px)
  }
}
.form_buttons{
  @include mainCenter;
}
.form__button{
    background: linear-gradient($silver, white, $silver);
    color: $navy;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
}

/*table*/
$main-color: #1A8CFF;
$secondary-color: lighten(#76A63F,25);
$third-color: #fff;
@mixin center {
  margin-left : auto;
  margin-right : auto;
}
.table-rwd {
  font-size : .85em;
  border: 1px solid rgba($secondary-color,.5);
  color: #666;
  border-collapse: collapse;
  @include center;

  td, th {
    padding : .8em;
    border-bottom: 1px solid rgba($secondary-color,.5);
  }

  //estilo de las cabeceras
  th {
    background : $main-color;
    color: $third-color;
    font-weight : normal;
    text-align : right;
  }

  // Prefijos y sufijos en los prrecios
  td {
    text-align : right;
    &:first-of-type {
      text-align : left;
      &:before {
        content: "";
      }
      &:after {
        content: "";
      }
    }
  }

  // Resaltado de filas y columnas
  tr {
    &:hover {
      background : rgba($secondary-color,.2);
    }
    td:nth-child(2n){
      background : rgba($secondary-color,.2);
    }
  }
}

$width: 600px;
$frozen-width: 8em;
.table-container {
  overflow-x: auto;
}
.table-rwd {
  min-width: $width;
  max-width: 100%;
  th{
    width : $frozen-width;
  }
  tr:hover {
    td:first-child {
      background : $main-color;
      color: $third-color;
    }
  }
}
// atributos
hr{
  border-top: solid 2px silver;
  width: 100%;
  @include clearfix;
}
.ir-arriba{
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    background: linear-gradient(-34deg,#ff180d,#800002);
    border-radius: 50%;
    border: solid 4px $navy;
    box-shadow: 1px 1px 9px 0px $navy;
    cursor: pointer;
    span{
      position: absolute;
      left: 50%;
      top:70%;
      transform: translate(-50%) scaleY(0.7);
      color:white;
      font-size: 3rem;
      line-height: 0.4;
    }
    b{
      position: absolute;
      left: 50%;
      top:10%;
      transform: translate(-50%);
      color: white;
      text-align: center;
    }
}
