*,:after,:before { box-sizing: border-box; }

body { margin: 0; font-family: sans-serif; }

img { max-width: 100%; height: auto; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

.container,.footer__main,.footer__main_fot,.form,.header__container,.provider__title_h2,.section,.title__content,article { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1200px; margin-left: auto; margin-right: auto; width: 100%; }

.col50,.colEmail,.colWhatsapp,.content,.content__img,.content__list,.footer__content_adress,.footer__content_services,.form__input,.form__label,.gallery__item,.header__inicio,.header__logo,.header__slogan,.item,.main-inicio,.menu-aside,.submenu,.toggle__menu { margin: 0; padding-left: .9375em; padding-right: .9375em; }

.item { width: 100%; }

.item.container { padding-left: 0; padding-right: 0; }

@font-face { font-family: untitled-font-1; src: url(fonts/untitled-font-1.eot); src: url(fonts/untitled-font-1.eot?#iefix) format("embedded-opentype"),url(fonts/untitled-font-1.woff) format("woff"),url(fonts/untitled-font-1.ttf) format("truetype"),url(fonts/untitled-font-1.svg#untitled-font-1) format("svg"); font-weight: 400; font-style: normal; }

[data-icon]:before { content: attr(data-icon); }

[class*=" icon-"]:before,[class^=icon-]:before,[data-icon]:before { font-family: untitled-font-1 !important; font-style: normal !important; font-weight: 400 !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-search:before { content: "\65"; }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY { -webkit-animation-duration: .75s; animation-duration: .75s; }

@-webkit-keyframes a { 20% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  to { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes a { 20% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  to { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

.swing { -webkit-transform-origin: top center; transform-origin: top center; -webkit-animation-name: a; animation-name: a; }

@-webkit-keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInLeft { -webkit-animation-name: b; animation-name: b; }

@-webkit-keyframes c { 0% { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0; }
  to { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

@keyframes c { 0% { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0; }
  to { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

.rotateInUpRight { -webkit-animation-name: c; animation-name: c; }

@font-face { font-family: steelfish_rg; src: url(fonts/steelfish_rg.eot); }

@font-face { font-family: steelfish_rg; src: url(fonts/steelfish_rg.otf) format("truetype"); }

@font-face { font-family: steelfish_rg; src: url(fonts/steelfish_rg.ttf) format("truetype"); }

footer { position: relative; }

.footer { -webkit-transform: rotate(180deg); transform: rotate(180deg); width: 100%; }

@media screen and (max-width:800px) { .footer { background: linear-gradient(180deg,#00004d 55%,transparent 0),url(../images/header.svg) no-repeat; background-position: bottom; } }

@media screen and (max-width:490px) and (min-width:0) { .footer { background: linear-gradient(180deg,#00004d 71%,transparent 0),url(../images/header.svg) no-repeat; background-position: bottom; } }

@media screen and (min-width:800px) and (max-width:1024px) { .footer { background: linear-gradient(180deg,#00004d 44%,transparent 0),url(../images/header.svg) no-repeat 29% 0; background-position: bottom; } }

@media screen and (min-width:1024px) and (max-width:1440px) { .footer { background: linear-gradient(180deg,#00004d 35%,transparent 0),url(../images/header.svg) no-repeat; background-position: 0 100%; } }

@media screen and (min-width:1440px) { .footer { background: linear-gradient(180deg,#00004d 10px,transparent 0),url(../images/header.svg) no-repeat; background-size: cover; background-position: 0 100%; } }

.footer_providers { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; z-index: -1; }

.provider__title { padding-left: 15px; color: #00004d; text-shadow: -1px 1px 4px hsla(0,0%,100%,.78); background: linear-gradient(90deg,#ff180d 20%,#ff180d 37%,transparent); font-size: 1rem; }

@media screen and (max-width:800px) { .provider__title { font-size: .8rem; } }

.provider__title_h2 { padding: 5px 0; margin: 0 auto; }

.provider__slide { height: 100px; -webkit-animation-name: d; animation-name: d; -webkit-animation-duration: 28s; animation-duration: 28s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-direction: alternate; animation-direction: alternate; margin-top: 1px; }

@media screen and (min-width:800px) { .provider__slide { background: url(images/proveedores-desktop.jpg) repeat 0 100%; } }

@media screen and (max-width:800px) { .provider__slide { background: url(images/proveedores.jpg) repeat 0 100%; } }

@-webkit-keyframes d { 0% { background-position: 0 100%; }
  to { background-position: 100% 100%; } }

@keyframes d { 0% { background-position: 0 100%; }
  to { background-position: 100% 100%; } }

.footer__footer { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.footer__main { margin-top: 10px; padding-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }

@media screen and (max-width:800px) { .footer__main { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }

.footer__content { margin-bottom: 5px; padding: 10px; background: hsla(0,0%,100%,.67); box-shadow: inset 1px 1px 5px 2px #002fa3; border: 3px solid #002fa3; }

.footer__content_services { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

@media screen and (min-width:800px) { .footer__content_services { width: 30%; } }

.footer__title { width: 100%; margin-bottom: 5px; text-align: end; color: #fff; }

.footer__text { position: relative; color: #fff; text-align: end; margin: 0; line-height: 1.5; }

.footer__copyright { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; line-height: 1.5; }

.footer__copyright .ah,.footer__copyright p { color: #fff; text-shadow: 1px 1px 5px navy; }

.footer__copyright p { margin: 0; }

.footer__contact { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; }

.footer__contact,.footer__content_adress { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer__content_adress { width: 100%; -ms-flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; padding-bottom: 6px; }

@media screen and (min-width:800px) { .footer__content_adress { width: 70%; } }

@media screen and (min-width:0) and (max-width:800px) { .footer__content_adress { padding-top: 135px; } }

@media screen and (min-width:800px) and (max-width:1024px) { .footer__content_adress { padding-top: 130px; } }

@media screen and (min-width:1024px) and (max-width:1440px) { .footer__content_adress { padding-top: 125px; } }

@media screen and (min-width:1440px) { .footer__content_adress { padding-top: 180px; } }

figure { margin: 0; }

.body { background: transparent url(../images/header.svg); background-position: 100% 0; background-size: contain; background-repeat: no-repeat; }

@media screen and (max-width:800px) { .body { background-position-y: 20px; }
  .body .header { background: linear-gradient(#00004d 20px,transparent 0); height: 100%; } }

@media screen and (min-width:800px) { .body { background-position-y: 0; } }

@media screen and (min-width:1024px) { .body { background-position-y: -5px; } }

@media screen and (min-width:1200px) { .body { background-position-y: -15px; } }

@media screen and (min-width:1300px) { .body { background-position-y: -30px; } }

.header__inicio { width: 40%; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; display: flex; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }

@media screen and (min-width:800px) { .header__inicio { width: 65%; } }

@media screen and (min-width:1024px) { .header__inicio { width: 72%; } }

@media screen and (max-width:800px) { .header__inicio { display: none; } }

.main-inicio { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 10px; margin-bottom: 0; padding-left: 0; padding-right: 0; list-style: none; }

@media screen and (min-width:1024px) { .main-inicio { width: 47%; } }

.main-inicio__item { margin-bottom: 0; border-bottom: 1px solid #00004d; text-align: center; margin-top: 5px; transition: all .1s; }

.main-inicio__item:hover { border-bottom: 1px solid #fff; }

.main-inicio__link { display: block; padding: 0 1.4rem; color: #fff; }

.main-inicio__link:hover { text-decoration: none; }

.header__slogan { width: 0; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; display: flex; flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; text-align: end; text-shadow: 1px 2px 2px #fff; color: #00004d; padding: 22px 0 15px; height: 100%; }

@media screen and (min-width:800px) { .header__slogan { width: 100%; } }

@media screen and (min-width:1024px) { .header__slogan { width: 53%; } }

@media screen and (max-width:1024px) { .header__slogan { height: 84%; } }

@media screen and (max-width:800px) { .header__slogan { display: none; } }

.header__slogan h3 { margin: 0; font-size: 1.3rem; }

.header__logo { width: 40%; }

@media screen and (min-width:800px) { .header__logo { width: 35%; } }

@media screen and (min-width:1024px) { .header__logo { width: 28%; } }

@media screen and (min-width:1440px) { .header__logo { padding: 95px 0 1%; } }

@media screen and (min-width:1024px) and (max-width:1440px) { .header__logo { padding: 75px 0 1%; } }

@media screen and (min-width:800px) and (max-width:1024px) { .header__logo { padding: 75px 0 1%; } }

@media screen and (max-width:800px) { .header__logo { padding: 70px 0 2%; } }

@media screen and (max-width:490px) { .header__logo { width: 60%; padding: 65px 0 2%; } }

.main-nav.show-menu { z-index: 9; }

.main-movil { width: 30%; -webkit-box-align: center; -ms-flex-align: center; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; align-items: center; }

.main-movil,.main-movil ul { margin-top: 0; margin-bottom: 0; padding-left: 0; list-style: none; }

.main-movil li { position: relative; list-style: none; -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }

.main-movil li.parent-submenu { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main-movil li.parent-submenu a { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }

.main-movil ul { display: none; }

.main-movil ul.show-submenu { display: block; width: 100%; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; margin-left: 1em; margin-bottom: .5em; }

.main-movil a { display: block; line-height: 3em; padding: 0 1em; }

.main-movil a:hover { text-decoration: none; }

.main-movil a { text-align: center; }

.main-movil .expand { display: none; }

.main-movil ul { position: absolute; left: 0; top: 100%; min-width: 100%; white-space: nowrap; }

.main-movil ul a { text-align: left; }

.main-movil ul ul { top: 0; left: 100%; }

.main-movil li:hover>ul { display: block; }

.main-movil .expand-submenu { display: none; position: relative; right: 0; width: 3em; height: 3em; cursor: pointer; transition: all .3s; }

.main-movil .expand-submenu:after { content: ""; position: absolute; width: 40%; height: 40%; top: 20%; left: 30%; border-left: .45em solid; border-bottom: .45em solid; border-radius: .24em; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); transition: all .3s; }

.main-movil .expand-submenu.active { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

@media screen and (min-width:800px) { .main-movil { display: none; } }

@media screen and (max-width:800px) { .main-movil { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; } }

.main-movil__item { background: #fff; border-right: 1px solid #666; border-top: 1px solid #666; }

.main-movil__item:hover { background: #e6e6e6; }

@media screen and (min-width:800px) { .main-movil__item { border-right: 1px solid #00004d; } }

.main-movil__link { color: #00004d; }

.main-menu { width: 100%; }

.main-menu,.main-menu ul { margin-top: 0; margin-bottom: 0; padding-left: 0; list-style: none; }

.main-menu li { position: relative; list-style: none; -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }

.main-menu li.parent-submenu { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.main-menu li.parent-submenu a { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }

.main-menu ul { display: none; }

@media screen and (max-width:800px) { .main-menu ul.show-submenu { display: block; width: 100%; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; margin-left: 1em; margin-bottom: .5em; } }

.main-menu a { display: block; line-height: 3em; padding: 0 1em; }

.main-menu a:hover { text-decoration: none; }

@media screen and (min-width:800px) { .main-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .main-menu a { text-align: center; }
  .main-menu .expand { display: none; }
  .main-menu ul { position: absolute; left: 0; top: 100%; min-width: 100%; white-space: nowrap; }
  .main-menu ul a { text-align: left; }
  .main-menu ul ul { top: 0; left: 100%; }
  .main-menu li:hover>ul { display: block; } }

.main-menu .expand-submenu { position: relative; right: 0; width: 3em; height: 3em; cursor: pointer; transition: all .3s; }

@media screen and (min-width:800px) { .main-menu .expand-submenu { display: none; } }

.main-menu .expand-submenu:after { content: ""; position: absolute; width: 40%; height: 40%; top: 20%; left: 30%; border-left: .45em solid; border-bottom: .45em solid; border-radius: .24em; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); transition: all .3s; }

.main-menu .expand-submenu.active { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

@media screen and (min-width:800px) { .main-menu { display: none; } }

.main-menu a { line-height: 1.2rem; padding: .4em .5rem; }

.main-desktop { margin-top: 0; margin-bottom: 50px; padding-left: 0; list-style: none; }

@media screen and (max-width:800px) { .main-desktop { display: none; } }

.main-menu__item { position: relative; background: #00004d; border-bottom: 1px solid #fff; padding-left: 20px; }

.main-menu__item:after { content: ""; position: absolute; top: 0; left: 0; width: 20px; height: 100%; background: linear-gradient(90deg,silver 7px,#ff180d 0,#ff180d 14px,silver 0); }

.main-menu__item:hover { background: navy; }

@media screen and (min-width:800px) { .main-menu__item { font-size: .9rem; border-right: 1px solid #fff; } }

@media screen and (min-width:1024px) { .main-menu__item { font-size: 1.1rem; } }

.main-menu__item_active { background: navy; }

.main-menu__link { color: #fff; width: 100%; padding: 15px 10px 15px 0; }

.main-menu__link:hover { text-decoration: none; }

.submenu { width: 100%; position: absolute; top: 0; left: 0; padding: 0; background: silver; text-align: left; will-change: transform,opacity; -webkit-transform-origin: left; transform-origin: left; -webkit-transform: perspective(2500px) rotateY(90deg) translate(-100%); transform: perspective(2500px) rotateY(90deg) translate(-100%); transition: .9s; opacity: .5; z-index: 9; }

@media screen and (min-width:800px) { .submenu { width: 80%; } }

@media screen and (min-width:1024px) { .submenu { width: 70%; } }

.submenu__li { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; height: 50px; text-align: center; border-right: 1px solid #fff; border-bottom: 2px solid gray; }

.submenu__li:hover { background: #a7a7a7; }

.submenu__li:hover .submenu__link { text-decoration: none; }

.submenu__link { width: 100%; padding: 15px; color: navy; }

.item__toggle { position: relative; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; text-align: end; background: linear-gradient(90deg,transparent 20px,#00004d 0); border-bottom: 2px solid #fff; padding-left: 20px; height: 50px; font-size: 1rem; }

.item__toggle:hover { background: linear-gradient(90deg,transparent 20px,navy 0); }

.item__toggle:hover .submenu { opacity: 1; -webkit-transform: perspective(2500px) rotateY(0) translate(-100%); transform: perspective(2500px) rotateY(0) translate(-100%); }

.item__toggle:hover:after { background: linear-gradient(90deg,silver 7px,navy 0,navy 14px,silver 0); }

.item__toggle:after,.item__toggle:hover:after { content: ""; position: absolute; top: 0; left: 0; width: 20px; height: 48px; }

.item__toggle:after { background: linear-gradient(90deg,silver 7px,#ff180d 0,#ff180d 14px,silver 0); }

.item__active { background: linear-gradient(90deg,transparent 20px,navy 0); }

.item__active:after { background: linear-gradient(90deg,silver 7px,navy 0,navy 14px,silver 0); }

.main-nav { z-index: 1; }

@media screen and (max-width:800px) { .main-nav { position: fixed; transition: all .3s; height: 100vh; z-index: 200; overflow-y: auto; width: 85%; left: -85%; }
  .main-nav.show-menu { left: 0; } }

@media screen and (max-width:800px) { .main-nav { position: absolute; width: 100%; left: -100%; height: auto; } }

@media screen and (min-width:800px) { .main-nav { width: 95%; padding: 0; margin-left: auto; margin-right: auto; } }

.button__toggle { position: relative; width: 85px; height: 51px; margin-top: 12px; border-radius: 5px; background: #fff; box-shadow: 0 0 3px 0 #00004d; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; }

.button__toggle span { position: absolute; top: 0; left: 50%; line-height: 1.5; -webkit-transform: translate(-44%); transform: translate(-44%); }

.toggle__menu { width: 60%; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; display: flex; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: start; align-content: flex-start; cursor: pointer; }

@media screen and (min-width:800px) { .toggle__menu { display: none; } }

@media screen and (max-width:800px) { .toggle__menu { display: -webkit-box; display: -ms-flexbox; display: flex; } }

@media screen and (max-width:490px) { .toggle__menu { width: 40%; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; display: flex; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.nav-toggle { position: relative; z-index: 300; width: 22.5px; height: 15px; box-shadow: inset 0 3px #00004d; cursor: pointer; position: absolute; left: 50%; top: 55%; -webkit-transform: translateX(-40%); transform: translateX(-40%); margin-bottom: .5rem; }

.nav-toggle:after,.nav-toggle:before { content: ""; position: absolute; width: 100%; height: 3px; background-color: #00004d; bottom: 0; }

.nav-toggle:after { bottom: 6px; }

@media screen and (min-width:800px) { .nav-toggle { display: none; } }

@media screen and (max-width:800px) { .nav-toggle { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.section,article { margin-bottom: 15px; }

@media screen and (max-width:800px) { .section { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }

.content { display: block; width: 100%; }

@media screen and (min-width:800px) { .content { width: 65%; } }

@media screen and (min-width:1024px) { .content { width: 72%; } }

.menu-aside { width: 100%; position: relative; padding: 0; }

@media screen and (min-width:800px) { .menu-aside { width: 35%; } }

@media screen and (min-width:1024px) { .menu-aside { width: 28%; } }

.iframe__map { width: 100%; }

.title__content { padding: 10px 10px 10px 25px; margin-top: 0; margin-bottom: 10px; background: linear-gradient(90deg,#00004d 5px,5px,red 8px,5px,silver 12px,10px,#00004d -5%,transparent); font-family: steelfish_rg,Arial,Helvetica,sans-serif; font-size: 3rem; letter-spacing: 0.0625rem; text-transform: none; text-shadow: 2px 0 5px #00004d; color: #fff; }

@media screen and (max-width:560px) { .title__content { font-size: 2rem; } }

.subtitle__content,.subtitle__content_big { width: 100%; margin-top: 0; font-weight: 500; text-align: left; color: #00004d; text-shadow: 2px 1px 1px rgba(45,45,179,.62); }

.subtitle__content_big { font-family: steelfish_rg,Arial,Helvetica,sans-serif; font-size: 2.8rem; margin-bottom: 10px; }

.content__article { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 100%; margin-bottom: 15px; }

.content__list { list-style: none; }

.content__li { width: 100%; position: relative; margin-bottom: 5px; }

.content__li:after { content: ""; top: 0; left: -20px; position: absolute; border-top: 9px solid transparent; border-left: 12px solid #00004d; border-bottom: 9px solid transparent; }

.content__img,.content__list { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: flex; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: start; align-content: flex-start; font-size: 1.1rem; }

.content__img { width: 100%; }

.content__list { width: 100%; margin-bottom: 10px; }

.content__text { font-size: 1.1rem; text-align: left; margin-top: 0; margin-bottom: 20px; }

.gallery__item { width: 50%; padding: 0; will-change: transform opacity; transition: all .5s; }

@media screen and (min-width:1024px) { .gallery__item { width: 33.3333%; } }

.gallery__text { margin-top: 5px; font-size: 1.2rem; width: 100%; text-align: center; }

.col__img { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; display: flex; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: start; align-content: flex-start; position: relative; padding: 5px; transition: all .5s; cursor: zoom-in; }

.col__img img { width: 100%; height: 250px; -o-object-fit: contain; object-fit: contain; border: 2px solid silver; padding: 0; }

@media screen and (max-width:450px) { .col__img img { height: 180px; } }

.col__img :focus { outline: 0 auto -webkit-focus-ring-color; }

.col__img .gallery__hover { position: absolute; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; top: 7px; left: 7px; width: calc(100% - 14px); height: calc(100% - 14px); color: #fff; text-shadow: 1px 1px 1px #00004d,-1px -1px 18px #00004d; background: radial-gradient(hsla(0,0%,40%,.28),#00004d); font-size: 1.8rem; opacity: 0; will-change: transform opacity; -webkit-transform: scale(.1); transform: scale(.1); transition: all .5s; }

@media screen and (max-width:450px) { .col__img .gallery__hover { height: 180px; font-size: 1.5rem; } }

.col__img:hover .gallery__hover { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.center__logo { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; margin-right: auto; margin-left: auto; }

a.center__logo { cursor: zoom-in; }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.form__label { width: 100%; color: #00004d; }

.form__input { width: 100%; background: #efefef; color: #000; border-radius: 5px; padding: 8px; margin-bottom: 5px; }

.colEmail { width: 100%; padding: 0; }

@media screen and (min-width:800px) { .colEmail { width: 70%; } }

@media screen and (min-width:1024px) { .colEmail { width: 60%; } }

.colWhatsapp { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; padding: 0; }

@media screen and (min-width:800px) { .colWhatsapp { width: 30%; } }

@media screen and (min-width:1024px) { .colWhatsapp { width: 40%; } }

.ah { width: 100%; opacity: .25; margin-top: 10px; font-size: .8rem; }

.block { display: block; width: 100%; }

.line { display: inline-block; }

.whatsapp { position: relative; padding-left: 27px; margin: 5px 0; margin-left: 15px; }

.whatsapp:after { content: ""; position: absolute; top: 50%; left: 0; width: 25px; height: 25px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: transparent url(images/whatsapp.png) no-repeat; background-size: 100%; }

.active { background: #00009a; }

.form { margin-top: 10px; }

.col50 { width: 100%; }

@media screen and (min-width:800px) { .col50 { width: 50%; } }

.col60 { border: 2px solid silver; margin-bottom: 10px; }

@media screen and (min-width:1024px) { .col60 { float: right; width: 70%; margin-left: 10px; } }

@media screen and (min-width:800px) { .col60 { float: right; width: 65%; margin-left: 10px; } }

@media screen and (max-width:800px) { .col60 { float: right; width: 60%; margin-left: 10px; } }

@media screen and (max-width:520px) { .col60 { float: right; width: 100%; margin-left: 0; } }

.form_buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.form__button { background: linear-gradient(silver,#fff,silver); color: #00004d; padding: 10px; margin: 0 5px; border-radius: 5px; }

/*table*/
.table-rwd { font-size: .85em; border: 1px solid hsla(88,45%,70%,.5); color: #666; border-collapse: collapse; margin-left: auto; margin-right: auto; }

.table-rwd td,.table-rwd th { padding: .8em; border-bottom: 1px solid hsla(88,45%,70%,.5); }

.table-rwd th { background: #1a8cff; color: #fff; font-weight: 400; }

.table-rwd td,.table-rwd th { text-align: right; }

.table-rwd td:first-of-type { text-align: left; }

.table-rwd td:first-of-type:after,.table-rwd td:first-of-type:before { content: ""; }

.table-rwd tr:hover,.table-rwd tr td:nth-child(2n) { background: hsla(88,45%,70%,.2); }

.table-container { overflow-x: auto; }

.table-rwd { min-width: 600px; max-width: 100%; }

.table-rwd th { width: 8em; }

.table-rwd tr:hover td:first-child { background: #1a8cff; color: #fff; }

hr { border-top: 2px solid silver; width: 100%; }

hr:after,hr:before { content: ""; width: 100%; display: table; clear: both; }

.ir-arriba { position: absolute; width: 80px; height: 80px; bottom: -40px; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); z-index: -1; background: linear-gradient(-34deg,#ff180d,#800002); border-radius: 50%; border: 4px solid #00004d; box-shadow: 1px 1px 9px 0 #00004d; cursor: pointer; }

.ir-arriba span { top: 70%; -webkit-transform: translate(-50%) scaleY(.7); transform: translate(-50%) scaleY(.7); font-size: 3rem; line-height: .4; }

.ir-arriba b,.ir-arriba span { position: absolute; left: 50%; color: #fff; }

.ir-arriba b { top: 10%; -webkit-transform: translate(-50%); transform: translate(-50%); text-align: center; }
