
/* ------------- General ------------- */
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(WkvQmvwsfw_KKeau9SlQ2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(gYAtqXUikkQjyJA1SnpDLvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: "cs-ctrl-blast";
	src: url("cs-ctrl-blast.eot");
	src: url("cs-ctrl-blast.eot#iefix") format("embedded-opentype"),
			url("cs-ctrl-blast.woff") format("woff"),
			url("cs-ctrl-blast.ttf") format("truetype"),
			url("cs-ctrl-blast.svg#blast") format("svg");
	font-weight: normal;
	font-style: normal;
}

.csslider1 {
  display: inline-block;
  position: relative;
  max-width: 830px;
  width: 100%;
}
.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 0px 5px #00004d;
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul::after {
  content: '';
  z-index: 10; 
  position: absolute;
  top:0;
  left: 0;
  width: 100.8%;
  height: 100%;
  box-shadow: inset -7px -3px 20px 1px rgba(29, 29, 29, 0.62);
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}

.csslider1 > ul > .slide.img img {
  width: 100%;
}



.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.csslider1 > .cs_arrowprev {
  left: 0;
}
.csslider1 > .cs_arrownext {
  right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2, 
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num3,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num3, 
.csslider1 > #cs_slide1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_3:checked ~ .cs_arrownext > label.num4,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrownext > label.num4, 
.csslider1 > #cs_slide1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_slide1_4:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}


@-webkit-keyframes arrow {
  0%, 19.99% { opacity: 1; z-index: 5; }
  20%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow {
  0%, 19.99% { opacity: 1; z-index: 5; }
  20%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
  -webkit-animation: arrow 40000ms infinite -2000ms;
  animation: arrow 40000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2 {
  -webkit-animation: arrow 40000ms infinite 6000ms;
  animation: arrow 40000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num3 {
  -webkit-animation: arrow 40000ms infinite 14000ms;
  animation: arrow 40000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num4 {
  -webkit-animation: arrow 40000ms infinite 22000ms;
  animation: arrow 40000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow 40000ms infinite 30000ms;
  animation: arrow 40000ms infinite 30000ms;
}


.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label,
.csslider1 > .pause:checked ~ .cs_arrowprev > label,
.csslider1 > .pause:checked ~ .cs_arrownext > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -49.5px;
  top: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Description ------------- */
.csslider1 > .cs_description {
  z-index: 3;
}
.csslider1 > .cs_description a,
.csslider1 > .cs_description a:visited,
.csslider1 > .cs_description a:active {
  color: inherit;
}
.csslider1 > .cs_description a:hover {
  text-decoration: none;
}
.csslider1 > .cs_description > label {
  position: absolute;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  max-width: 50%;
  left: 0;
}
.csslider1 > .cs_description > label > span {
  vertical-align: top;
}
.csslider1 > .cs_description > label span {
  display: inline-block;
}
/* ------------- /General Description ------------- */

/* ------------- General Play Pause ------------- */
.csslider1 > .cs_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.csslider1 > .cs_play_pause > label {
  position: absolute;
  cursor: pointer;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_play {
  display: block;
  z-index: 5;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  display: none;
  z-index: -1;
}



@-webkit-keyframes pauseChange {
  0%, 19.99% { opacity: 1; z-index: 5; }
  20%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes pauseChange {
  0%, 19.99% { opacity: 1; z-index: 5; }
  20%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num0 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 40000ms infinite -2000ms;
  animation: pauseChange 40000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num1 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 40000ms infinite 6000ms;
  animation: pauseChange 40000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num2 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 40000ms infinite 14000ms;
  animation: pauseChange 40000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num3 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 40000ms infinite 22000ms;
  animation: pauseChange 40000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num4 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 40000ms infinite 30000ms;
  animation: pauseChange 40000ms infinite 30000ms;
}


.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Play Pause ------------- */

/* ------------- Effect ------------- */


.csslider1 > ul > .slide {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  
  -webkit-transition:
    opacity 2000ms ease,
    -webkit-transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
  transition:
    opacity 2000ms ease,
    -webkit-transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000),
    transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
}

.csslider1 > ul > .slide.num0 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
  
}
.csslider1 > ul > .slide.num1 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      
}
.csslider1 > ul > .slide.num2 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      
}
.csslider1 > ul > .slide.num3 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      
}
.csslider1 > ul > .slide.num4 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
  
}



.csslider1 > #cs_slide1_0:checked ~ ul > .slide.num0,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide.num0,.csslider1 > #cs_slide1_1:checked ~ ul > .slide.num1,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide.num1,.csslider1 > #cs_slide1_2:checked ~ ul > .slide.num2,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide.num2,.csslider1 > #cs_slide1_3:checked ~ ul > .slide.num3,
.csslider1 > #cs_pause1_3:checked ~ ul > .slide.num3,.csslider1 > #cs_slide1_4:checked ~ ul > .slide.num4,
.csslider1 > #cs_pause1_4:checked ~ ul > .slide.num4 {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
}



@-webkit-keyframes kenburns1 {
  0.001%, 19.999%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5%, 20% { opacity: 1 }
  25%, 80% {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  20.001%, 100%  { z-index: 1; }
}
@keyframes kenburns1 {
  0.001%, 19.999%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5%, 20% { opacity: 1 }
  25%, 80% {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  20.001%, 100%  { z-index: 1; }
}


.csslider1 > #cs_play1:checked ~ ul > .slide.num0 {
  -webkit-animation: kenburns1 40000ms infinite -2000ms linear;
  animation: kenburns1 40000ms infinite -2000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num1 {
  -webkit-animation: kenburns1 40000ms infinite 6000ms linear;
  animation: kenburns1 40000ms infinite 6000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num2 {
  -webkit-animation: kenburns1 40000ms infinite 14000ms linear;
  animation: kenburns1 40000ms infinite 14000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num3 {
  -webkit-animation: kenburns1 40000ms infinite 22000ms linear;
  animation: kenburns1 40000ms infinite 22000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num4 {
  -webkit-animation: kenburns1 40000ms infinite 30000ms linear;
  animation: kenburns1 40000ms infinite 30000ms linear;
}


.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  
  -webkit-transition: none;
  transition: none;
}

/* ------------- /Effect ------------- */
@-webkit-keyframes controlsAnimate {
  0% { opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 
      0 0 0 2px rgba(255,255,255,0.1),
      0 0 10px 10px #00004d,
      0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    opacity: 0;
    box-shadow:
      0 0 0 2px rgba(255,255,255,0.1),
      0 0 10px 10px #00004d,
      0 0 0 10px rgba(255,255,255,0.5);

    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
}
@keyframes controlsAnimate {
  0% { opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 
      0 0 0 2px rgba(255,255,255,0.1),
      0 0 10px 10px #00004d,
      0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    opacity: 0;
    box-shadow:
      0 0 0 2px rgba(255,255,255,0.1),
      0 0 10px 10px #00004d,
      0 0 0 10px rgba(255,255,255,0.5);
      
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
}
/* ------------- Template Show on hover ------------- */
.csslider1 > .cs_play_pause {
  -webkit-transition: .4s all 0s ease;
  transition: .4s all 0s ease;
}
.csslider1 > .cs_arrowprev {
  -webkit-transition: .4s all .15s ease;
  transition: .4s all .15s ease;
}
.csslider1 > .cs_arrownext {
  -webkit-transition: .4s all .3s ease;
  transition: .4s all .3s ease;
}
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_play_pause {
  opacity: 0;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.csslider1:hover > .cs_arrowprev,
.csslider1:hover > .cs_arrownext,
.csslider1:hover > .cs_play_pause {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  margin-top: -22px; 
  margin-left: -22px; 

  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00004d;

  -webkit-transition: -webkit-transform .3s ease, background-color .3s ease;
  transition: -webkit-transform .3s ease, transform .3s ease, background-color .3s ease;
}
.csslider1 > .cs_arrowprev {
  margin-left: 10px;
  left: 22px;
}
.csslider1 > .cs_arrownext {
  margin-right: 10px;
  right: 22px;
}
.csslider1 > .cs_arrowprev > label:after {
  content: '\e800';
}
.csslider1 > .cs_arrownext > label:after {
  content: '\e801';
}
.csslider1 > .cs_arrowprev > label:after,
.csslider1 > .cs_arrownext > label:after {
  display: block;
  font: 28px "cs-ctrl-blast";
  line-height: 44px;
  text-align: center;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label:after {
  line-height: 50px;
}
_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label:after {
  line-height: 50px;
}

.csslider1 > .cs_arrowprev > label:hover,
.csslider1 > .cs_arrownext > label:hover {
  background-color: navy;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.csslider1 > .cs_arrowprev > label > span,
.csslider1 > .cs_arrownext > label > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.csslider1 > .cs_arrowprev > label:hover > span,
.csslider1 > .cs_arrownext > label:hover > span {
  -webkit-animation: controlsAnimate 1s ease-out;
  animation: controlsAnimate 1s ease-out;
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Play Pause ------------- */
.csslider1 > .cs_play_pause > label {
  text-decoration: none;
  margin-left: -22px;
  margin-top: -22px; 

  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #00004d;

  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease, transform .3s ease;
}
.csslider1 > .cs_play_pause > .cs_play:after {
  content: '\e802';
}
.csslider1 > .cs_play_pause > .cs_pause:after {
  content: '\e803';
}
.csslider1 > .cs_play_pause > label:after{
  display: block;
  text-align: center;
  font: 28px "cs-ctrl-blast";
  line-height: 46px;
  color: #fff;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_play_pause > label:after {
  line-height: 52px;
}

.csslider1 > .cs_play_pause > label:hover {
  background-color: navy;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.csslider1 > .cs_play_pause > label > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.csslider1 > .cs_play_pause > label:hover > span {
  -webkit-animation: controlsAnimate 1s ease-out;
  animation: controlsAnimate 1s ease-out;
}
/* ------------- /Template Play Pause ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  bottom: 5px;
  margin-bottom: 5px;
}
.csslider1 > .cs_bullets > label {
  margin: 0 10px;
  padding: 8px;
  border-radius: 50%;
  background-color: #00004d;
}


.csslider1 > .cs_bullets > label > .cs_thumb {
  border: 3px solid rgba(0,0,10,0.6);
  margin-top: -13px;
  margin-left: 1px;

  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.csslider1 > .cs_bullets > label:hover .cs_thumb {
  visibility: visible;
  opacity: 1;

  -webkit-transform:scale(1);
  transform:scale(1);
}
.csslider1 > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: 50%;
  bottom: -10px;
  margin-left: -4px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid rgba(0,0,10,0.6);
  
  -webkit-transition: 0.3s opacity 0.1s;
  transition: 0.3s opacity 0.1s;
}



.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
  -webkit-transform:scale(0);
  transform:scale(0);
}


.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_slide1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_slide1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1_4:checked ~ .cs_bullets > label.num4 > .cs_point {
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
}



@-webkit-keyframes bullet {
  0%, 19.99%  { -webkit-transform:scale(1.5); transform:scale(1.5); background: #fff;}
  20%, 100% { -webkit-transform:scale(0); transform:scale(0); background: transparent;}
}
@keyframes bullet {
  0%, 19.99%  { -webkit-transform:scale(1.5); transform:scale(1.5); background: #fff;}
  20%, 100% { -webkit-transform:scale(0); transform:scale(0); background: transparent;}
}

.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -webkit-animation: bullet 40000ms infinite -2000ms;
  animation: bullet 40000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -webkit-animation: bullet 40000ms infinite 6000ms;
  animation: bullet 40000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num2 > .cs_point {
  -webkit-animation: bullet 40000ms infinite 14000ms;
  animation: bullet 40000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num3 > .cs_point {
  -webkit-animation: bullet 40000ms infinite 22000ms;
  animation: bullet 40000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num4 > .cs_point {
  -webkit-animation: bullet 40000ms infinite 30000ms;
  animation: bullet 40000ms infinite 30000ms;
}




.csslider1 > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-animation: none;
  animation: none;
}

/* ------------- /Template Bullets ------------- */

/* ------------- Template Description ------------- */


.csslider1 > .cs_description > label {
  font-family: "Ubuntu",sans-serif;
  font-size: 2rem;
  line-height: normal;
  z-index: 1;
  bottom: 35px;
  top: auto;
}
@media screen and (max-width: 650px) and (min-width: 0){
  .csslider1 > .cs_description > label {
    font-size: 1.5rem;
  }  
}
.csslider1 > .cs_description > label > span {
  background-color: rgba(0,0,10,0.6);
  color: #fff;
  margin: 5px 10px;
  padding: 10px;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_descr {
  opacity: 1;
  z-index: 4;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.csslider1 > .cs_description > label > .cs_title {
  opacity: 0;
  z-index: 2;
  -webkit-transform: scale(2);
  transform: scale(2);

  -webkit-transition:
    500ms opacity 600ms ease,
    500ms -webkit-transform 600ms ease;
  transition:
    500ms opacity 600ms ease,
    500ms -webkit-transform 600ms ease,
    500ms transform 600ms ease;
}
.csslider1 > .cs_description > label > .cs_descr {
  text-align: left;

  

  font-size: 0.8em;
  opacity: 0;
  z-index: 1;
  -webkit-transform: scale(2);
  transform: scale(2);

  -webkit-transition:
    500ms opacity 850ms ease, 
    500ms -webkit-transform 850ms ease;
  transition:
    500ms opacity 850ms ease, 
    500ms -webkit-transform 850ms ease, 
    500ms transform 850ms ease;
}




@-webkit-keyframes cs_title_descr {
  1.25%, 18.74%  {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  21.25%  {
    opacity: 0;
    z-index: 2;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  21.26%, 100%  { z-index: 0; }
}
@keyframes cs_title_descr {
  1.25%, 18.74%  {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  21.25%  {
    opacity: 0;
    z-index: 2;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  21.26%, 100%  { z-index: 0; }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_title {
  -webkit-animation: cs_title_descr 40000ms infinite -1400ms;
  animation: cs_title_descr 40000ms infinite -1400ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_title {
  -webkit-animation: cs_title_descr 40000ms infinite 6600ms;
  animation: cs_title_descr 40000ms infinite 6600ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_title {
  -webkit-animation: cs_title_descr 40000ms infinite 14600ms;
  animation: cs_title_descr 40000ms infinite 14600ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_title {
  -webkit-animation: cs_title_descr 40000ms infinite 22600ms;
  animation: cs_title_descr 40000ms infinite 22600ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_title {
  -webkit-animation: cs_title_descr 40000ms infinite 30600ms;
  animation: cs_title_descr 40000ms infinite 30600ms;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_descr {
  -webkit-animation: cs_title_descr 40000ms infinite -1150ms;
  animation: cs_title_descr 40000ms infinite -1150ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_descr {
  -webkit-animation: cs_title_descr 40000ms infinite 6850ms;
  animation: cs_title_descr 40000ms infinite 6850ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_descr {
  -webkit-animation: cs_title_descr 40000ms infinite 14850ms;
  animation: cs_title_descr 40000ms infinite 14850ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_descr {
  -webkit-animation: cs_title_descr 40000ms infinite 22850ms;
  animation: cs_title_descr 40000ms infinite 22850ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_descr {
  -webkit-animation: cs_title_descr 40000ms infinite 30850ms;
  animation: cs_title_descr 40000ms infinite 30850ms;
}




.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr {
  -webkit-transition: none;
  transition: none;
}

.csslider1 > .slide:checked ~ .cs_description > label,
.csslider1 > .pause:checked ~ .cs_description > label {
  -webkit-animation: none;
  animation: none;
}



/* ------------- /Template Description ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}
