<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        .content__article
          #form
            h2.title__content Contáctenos
            form.form(v-on:submit.prevent="submitForm")
              .col50
                .item
                  label.form__label(for="") Nombre completo: 
                  input.form__input(v-model="vue.nombre" type="text" required="")
                .item
                  label.form__label(for="") Teléfono: 
                  input.form__input(v-model="vue.telefono" type="number" required="")
                .item
                  label.form__label(for="") Celular: 
                  input.form__input(v-model="vue.movil" type="number" required="")
                .item
                  label.form__label(for="") Dirección: 
                  input.form__input(v-model="vue.direccion" type="text" required="")
                .item
                  label.form__label(for="") Ciudad: 
                  input.form__input(v-model="vue.ciudad" type="text" required="")
              .col50
                .item
                  label.form__label(for="") Email: 
                  input.form__input(v-model="vue.email" type="email" required="")
                .item
                  label.form__label(for="") Mensaje: 
                  textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
                .form_buttons
                  button.form__button(type="submit") Enviar
                  button.form__button(v-on:click="clearForm()") Limpiar
                .statusMessage(v-if="formSubmitted")
                  h4 {{ vue.envio }}
        h2.title__content Ubícación
        iframe.iframe__map(src="https://www.google.com/maps/d/embed?mid=1cm17kxG_FiaVxf-O0bQq27icK2I" width="640" height="450")
      +aside('Contactos')
    script(src="js/formulario.js")
    include blocks/footer.pug
    script(src="js/main-vue.js")