<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        link(rel='stylesheet', href='cssslider_files/csss_engine1/style.css')
        .csslider1.autoplay
          input#cs_slide1_0.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_1.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_2.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_3.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_slide1_4.cs_anchor.slide(name='cs_anchor1', type='radio')
          input#cs_play1.cs_anchor(name='cs_anchor1', type='radio', checked='')
          input#cs_pause1_0.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_1.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_2.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_3.cs_anchor.pause(name='cs_anchor1', type='radio')
          input#cs_pause1_4.cs_anchor.pause(name='cs_anchor1', type='radio')
          ul
            li.cs_skeleton
              img(src='cssslider_files/csss_images1/zetor_1.jpg', style='width: 100%;')
            li.num0.img.slide
              img(src='cssslider_files/csss_images1/zetor_1.jpg', alt='Tractores Agrícolas', title='Tractores Agrícolas')
            li.num1.img.slide
              img(src='cssslider_files/csss_images1/inyeccin_diesel_bosch_5.jpg', alt='Motores Diesel', title='Motores Diesel')
            li.num2.img.slide
              img(src='cssslider_files/csss_images1/inyectores_zexel_1.jpg', alt='Sistemas de Inyección', title='Sistemas de Inyección')
            li.num3.img.slide
              img(src='cssslider_files/csss_images1/sistema_inyeccion_mecanico_3.jpg', alt='Reparación y Mantenimiento', title='Reparación y Mantenimiento')
            li.num4.img.slide
              img(src='cssslider_files/csss_images1/turbo_alimentador_garrett_5.jpg', alt='Turboalimentadores', title='Turboalimentadores')
          .cs_engine
            a(href='http://cssslider.com') slider css3
            |  by cssSlider.com v1.9
          .cs_description
            label.num0
              span.cs_title
                span.cs_wrapper Tractores Agrícolas
            label.num1
              span.cs_title
                span.cs_wrapper Motores Diesel
            label.num2
              span.cs_title
                span.cs_wrapper Sistemas de Inyección
            label.num3
              span.cs_title
                span.cs_wrapper Reparación y Mantenimiento
            label.num4
              span.cs_title
                span.cs_wrapper Turboalimentadores
          .cs_play_pause
            label.cs_play(for='cs_play1')
              span
                i
                b
            label.cs_pause.num0(for='cs_pause1_0')
              span
                i
                b
            label.cs_pause.num1(for='cs_pause1_1')
              span
                i
                b
            label.cs_pause.num2(for='cs_pause1_2')
              span
                i
                b
            label.cs_pause.num3(for='cs_pause1_3')
              span
                i
                b
            label.cs_pause.num4(for='cs_pause1_4')
              span
                i
                b
          .cs_arrowprev
            label.num0(for='cs_slide1_0')
              span
                i
                b
            label.num1(for='cs_slide1_1')
              span
                i
                b
            label.num2(for='cs_slide1_2')
              span
                i
                b
            label.num3(for='cs_slide1_3')
              span
                i
                b
            label.num4(for='cs_slide1_4')
              span
                i
                b
          .cs_arrownext
            label.num0(for='cs_slide1_0')
              span
                i
                b
            label.num1(for='cs_slide1_1')
              span
                i
                b
            label.num2(for='cs_slide1_2')
              span
                i
                b
            label.num3(for='cs_slide1_3')
              span
                i
                b
            label.num4(for='cs_slide1_4')
              span
                i
                b
          .cs_bullets
            label.num0(for='cs_slide1_0')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/zetor_1.jpg', alt='Tractores Agrícolas', title='Tractores Agrícolas')
            label.num1(for='cs_slide1_1')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/inyeccin_diesel_bosch_5.jpg', alt='Motores Diesel', title='Motores Diesel')
            label.num2(for='cs_slide1_2')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/inyectores_zexel_1.jpg', alt='Sistemas de Inyección', title='Sistemas de Inyección')
            label.num3(for='cs_slide1_3')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/sistema_inyeccion_mecanico_3.jpg', alt='Reparación y Mantenimiento', title='Reparación y Mantenimiento')
            label.num4(for='cs_slide1_4')
              span.cs_point
              span.cs_thumb
                img(src='cssslider_files/csss_tooltips1/turbo_alimentador_garrett_5.jpg', alt='Turboalimentadores', title='Turboalimentadores')
      //- include blocks/aside.pug
      +aside('Inicio')
    include blocks/footer.pug
