<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Laboratorio de reparación y balanceo
        article.content__article
          p.content__text Para lograr un servicios de primera calidad, MORALES Y CIA. LTDA. cuenta con:
          ul.content__list
            .item
              li.content__li Un gabinete especializado, dotado de dos máquina balanceadores electrónicas digitales para el equilibrado o balanceado del conjunto rotatorio de un turboalimentador.
              li.content__li Una cabina para la limpieza mediante impacto de micro esferas no abrasivas de vidrio.
              li.content__li Varios accesorios y herramientas indispensables en este trabajo.
        hr
        article.block
          h3#balanceo-dinamico-de-turboalimentadores.subtitle__content_big Balanceo dinámico de turboalimentadores
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -3.jpg", data-fancybox="laboratorio", data-caption="Balanceo dinámico de turboalimentadores")
              img(src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -3.jpg", alt="Balanceo dinámico de turboalimentadores")
          p.content__text Este procedimiento se realiza en máquinas especialmente desarrolladas para el balanceo del turboalimentador. La alta velocidad y la elevada temperatura de trabajo puede causar mucha vibración en el rotor del turbo.Si no se tiene un buen balanceo esto puede causar daños graves en el turbo e inclusive la rotura total.
          p.content__text Los turbos reparados por <b>Morales & Cia</b> son entregados a nuestros clientes con un correcto balanceo lo cual nos permite garantizar nuestro trabajo.
          hr
          h3#balanceo-electronico-o-digital.subtitle__content_big Balanceo electrónico o digital
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -2.jpg", data-fancybox="laboratorio", data-caption="Balanceo electrónico o digital")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -2.jpg",alt="Balanceo electrónico o digital")
          p.content__text El balanceo electrónico digital se utiliza en piezas del eje y alabe del turbo con una presición y caractersisticas requeridas por el fabricante.
          p.content__text La tracción de la pieza se realiza mediante una correa plana a velocidad constante. Las indicaciones de ángulo y cantidad son proporcionadas por el equipo electrónico.
      +aside('LABORATORIO DE REPARACIÓN Y BALANCEO')
    hr
    include blocks/footer.pug
