<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Nuestra empresa
        article.content__article
          h3.subtitle__content_big Morales y Compañía Limitada
          p.content__text MORALES Y CIA. LTDA. fue establecida en la ciudad de Cochabamba el año 1967 como una empresa de servicios dirigida al sector automotor en el área de mantenimiento y reparación de vehículos diesel con especialidad en el servicio de inyección diesel, convirtiéndose de esa forma en pionera en esta actividad, al instalar un moderno laboratorio de inyección diesel en esta ciudad.
          p.content__text La implementación de nuevas políticas en la administración de la empresa le permiten la ampliación, modernización y diversificación de las actividades en áreas como ser: 
          p.content__text La empresa es una de las más importantes dentro de su rubro en el país prestando sus servicios a personas y empresas del ámbito local, nacional e internacional en:
          ul.content__list
            .col50
              li.content__li Reparación y balanceo de turboalimentadores.
              li.content__li Reparación y reacondicionamiento total de tractores agrícolas.
              li.content__li Fabricación y reconstrucción de piezas de tornería.
            .col50
              li.content__li Importación de repuestos en general.
              li.content__li Importación y venta de equipos de prueba.
        hr
        article.content__article
          h3.subtitle__content_big Mantenimiento y reparación de sistemas de inyección diesel
          p.content__text MORALES Y CIA. LTDA. cuenta con:
          ul.content__list
            .item
              li.content__li Dos laboratorios equipados con seis bancos de pruebas de tipo universal para bombas de inyección diesel, con especificación internacional ISO 4008.
              li.content__li Dos rectif icadores de toberas.
              li.content__li Cuatro probadores de inyectores.
              li.content__li Un equipo de pruebas para inyector bomba unitario tipo GM.
              li.content__li Un equipo de prueba par inyector tipo Cummins.
              li.content__li Un lector de microfichas que contienen información técnica.
          p.content__text Además de los accesorios y herramientas requeridos para prestar un servicio adecuado y eficiente en todas las áreas mencionadas.
        hr
        article.content__article
          h3.subtitle__content_big Mantenimiento y reparación de turboalimentadores
          p.content__text Para lograr un servicios de primera calidad, MORALES Y CIA. LTDA. cuenta con:
          ul.content__list
            .item
              li.content__li Un gabinete especializado, dotado de dos máquina balanceadores electrónicas digitales para el equilibrado o balanceado del conjunto rotatorio de un turboalimentador.
              li.content__li Una cabina para la limpieza mediante impacto de micro esferas no abrasivas de vidrio.
              li.content__li Varios accesorios y herramientas indispensables en este trabajo.
        hr
        article.content__article
          h3.subtitle__content_big Reparación y mantenimiento de sistema de inyección diesel electrónica
          p.content__text Como consecuencia de los últimos adelantos tecnológicos y el uso de la electrónica dentro de los sistemas de inyección diesel en unidades importadas a Bolivia MORALES Y CIA. LTDA. ha implementado este servicio, más propiamente para bombas tipo COVEC-F (Computed VE pump control system-Full), que utilizando un microprocesador controla con mucha precisión la dosificación del combustible y el grado avance de la inyección, mediante el empleo de un gobernador electrónico y otros dispositivos adicionales.
          
          //- p.content__text Morales y Cia Ltda. es una empresa con 49 años de experiencia de mantenimiento y reparación de vehículos a diesel en Cochabamba, con especialidad en inyección diesel y turbo alimentadores.
          //- p.content__text Actualmente Morales & Cia. Ltda. es Considerada como una de las empresas más prestigiosas del rubro y presta servicios en sus modernas instalaciones Con maquinaria de última generación a personas y empresas del ámbito local, nacional e internacional.
          //- p.content__text Una de las actividades principales de la empresa es la reparación de sistemas de inyección diesel tanto mecánicos como electrónicos, para lo cual cuenta con dos laboratorios de inyección diesel equipados con seis bancos de prueba acordes a las normas internaCionales ISO 4008.
          //- p.content__text También cuenta con un laboratorio de reparación y balanceo dinámico de turboalimentadores, dotado de dos máquinas balanceadoras electrónicas digitales. 
          //- p.content__text Adicionalmente ofrece repuestos para tractores agrícolas y motores diesel, siendo importadores y representantes de prestigiosas marcas a nivel internacional. Morales y Cia Ltda. está a la vanguardia y preparándose para cumplir 50 años ofreciendo calidad en productos y servicios al mercado boliviano.
      +aside('Nosotros')
    include blocks/footer.pug
