<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Reparación y mantenimiento de sistemas de inyección
        img.center__logo(src="images/reparacion-y-mantenimiento/reparacion-y-mantenimiento.jpg", alt="REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN")      
        br
        article.content__article
          p.content__text MORALES Y CIA. LTDA. cuenta con:
          ul.content__list
            .item
              li.content__li Dos laboratorios equipados con seis bancos de pruebas de tipo universal para bombas de inyección diesel, con especificación internacional ISO 4008.
              li.content__li Dos rectif icadores de toberas.
              li.content__li Cuatro probadores de inyectores.
              li.content__li Un equipo de pruebas para inyector bomba unitario tipo GM.
              li.content__li Un equipo de prueba par inyector tipo Cummins.
              li.content__li Un lector de microfichas que contienen información técnica.
          p.content__text Además de los accesorios y herramientas requeridos para prestar un servicio adecuado y eficiente en todas las áreas mencionadas.
        hr
        article.block
          h3#diesel-mecanicos.subtitle__content_big Sistemas de inyección diesel mecánicos
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -1.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -1.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
          p.content__text El motor diesel al igual que cualquier motor de combustión interna, funciona en un rango de potencia y velocidad de rotación que depende directamente de la entrega de combustible. La potencia generada en el motor depende directamente de la voluntad del conductor. La voluntad está representada en la presión aplicada en el pedal del acelerador y se acomoda a las condiciones del terreno.
          p.content__text El sistema mecánico sirve para inyectar, de acuerdo a la secuencia de encendido de un motor, cierta cantidad de combustible a alta presión y finamente pulverizado en el ciclo de compresión del motor, el cual, al ponerse en contacto con el aire muy caliente, se mezcla y se enciende produciéndose la combustión.
          p.content__text La función es la de producir la inyección de combustible líquido finamente pulverizado en el momento indicado y en la cantidad justa de acuerdo al régimen de funcionamiento del motor.
          hr
        article.block
          h3#diesel-electricos.subtitle__content_big Sistemas de inyección diesel electrónicos
          .col60
            a.center__logo(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -3.JPG", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -3.JPG",alt="Reparacion y mantenimineto de sistemas de inyeccion")
          p.content__text Como consecuencia de los últimos adelantos tecnológicos y el uso de la electrónica dentro de los sistemas de inyección diesel en unidades importadas a Bolivia MORALES Y CIA. LTDA. ha implementado este servicio, más propiamente para bombas tipo COVEC-F (Computed VE pump control system-Full), que utilizando un microprocesador controla con mucha precisión la dosificación del combustible y el grado avance de la inyección, mediante el empleo de un gobernador electrónico y otros dispositivos adicionales.
          hr
        article.content__article  
          .gallery__item
            a.col__img(href="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -2.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/Sistema inyeccion mecanico -2.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Sistema de inyección diesel Mecánico
          .gallery__item
            a.col__img(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -1.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -1.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Sistema de inyección diesel electrónico
          .gallery__item
            a.col__img(href="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -4.jpg", data-fancybox="mecanico", data-caption="Sistema de Inyección Mecánico")
              img(src="images/reparacion-y-mantenimiento/sistemas de inyeccion electronico -4.jpg",alt="Reparacion y mantenimineto de sistemas de inyeccion")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Sistema de inyección diesel electrónico
      +aside('REPARACIÓN Y MANTENIMIENTO DE SISTEMAS DE INYECCIÓN')
    include blocks/footer.pug
