<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Repuestos para tractores agrícolas
        hr
        article.block
          h3#fiat.subtitle__content_big FIAT
          .col60
            a.center__logo(href="images/repuestos-tractor/fiat.jpg",data-fancybox="fiat-repuesto", data-caption="Repustos FIAT")
              img(src="images/repuestos-tractor/fiat.jpg", alt="FIAT Repuestos")
          p.content__text Para que todo funcione correctamente en su vehículo, es necesario utilizar repuestos originales, fabricados y certificados por Fiat.
          p.content__text Al utilizar repuestos genéricos se expone al vehículo a un mal desempeño, mayor desgaste de las piezas, y fallas en el motor.
          p.content__text Utilizando repuestos originales, su Fiat continuará brindándole el mejor desempeño.
          hr
          h3#perkins.subtitle__content_big Perkins
          .col60
            a.center__logo(href="images/repuestos-tractor/perkins-1.jpg",data-fancybox="repuestos-perkins", data-caption="Perkins")
              img(src="images/repuestos-tractor/perkins-1.jpg", alt="Perkins")
          p.content__text Para los motores Perkins, montados en Tractores Massey Ferguson MF65, 165, 265, 290, 296, Plantas eléctricas y algunas aplicaciones vehiculares, ofrecemos los kit completos de reparación en marca Perkins original y en marcas alternas que le ofrecen la mejor calidad cada dia más a su alcance.
          hr
          h3#massey-ferguson.subtitle__content_big Massey Ferguson
          .col60
            a.center__logo(href="images/repuestos-tractor/massey-ferguson-1.jpg",data-fancybox="repuestos-massey-ferguson", data-caption="Massey Ferguson")
              img(src="images/repuestos-tractor/massey-ferguson-1.jpg", alt="Massey Ferguson")
          p.content__text Hoy en día la agricultura exige maquinaria que pueda evolucionar con su negocio. Disponemos de una fantástica gama de accesorios y opciones de montaje de concesionarios, que incluye desde pesos, válvulas de carrete o elevadores hidráulicos hasta sistemas de autoguía MF de alta tecnología y señales de satélite. Disponemos de kits de mejora de los asientos, sistemas de sonido, neveras para bebidas y muchos otros complementos pensados para su comodidad.
          hr  
        article.content__article
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-000-992.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-000-992.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-011-906.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-011-906.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/16-350-230.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/16-350-230.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/53-017-019.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/53-017-019.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/6011-1911.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/6011-1911.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/6711-5712.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/6711-5712.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/6918-5771.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/6918-5771.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/7211-3702.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/7211-3702.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/93-0775.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/93-0775.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-000-993.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-000-993.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/10-022-524.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/10-022-524.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/16-359-975.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/16-359-975.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/54-021-906.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/54-021-906.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/64-161-004.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/64-161-004.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/68-010-091.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/68-010-091.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/7011-4901.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/7011-4901.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/93-0152.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/93-0152.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          .gallery__item
            a.col__img(href="images/repuestos-tractor/93-8366.jpg", data-fancybox="repuestos", data-caption="Repuestos para tractores agrícolas")
              img(src="images/repuestos-tractor/thumbs/93-8366.jpg", alt="Repuestos para tractores agricolas")
              .gallery__hover Ver más <i class="icon-search"></i>
          hr
      +aside('REPUESTOS PARA TRACTORES AGRÍCOLAS')
    include blocks/footer.pug