<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Sistemas de inyección
        .col60
          a.center__logo(href="images/sistemas-de-inyeccion/banner-inyeccion-diesel.jpg", data-fancybox="sistemas-de-inyeccion", data-caption="Sistema de Inyeccion Diesel")
            img(src="images/sistemas-de-inyeccion/banner-inyeccion-diesel.jpg", alt="Sistema de Inyeccion Diesel")
        p.content__text El Sistema de inyección se encarga de llevar el combustible desde el tanque hasta los cilindros para su inyección. El Fuel Injection realiza la misma función que antes hacían la bomba de gasolina y el carburador. Dentro de este sistema de inyección encontramos los “inyectores” y “bombas de inyección“.
        p.content__text En los motores de encendido por compresión diesel, la combustión se produce cuando, el combustible que se inyecta en estado líquido, pasa a estado casi gaseoso, disgregado por medio de los inyectores y mezclados con el aire para utilizar todo el oxígeno necesario. Tras este fenómeno, la combustión se genera en puntos localizados de la cámara de combustión por autoencendido.
        p.content__text Sólo se introduce aire en el cilindro. Éste se calienta mucho por la compresión y atomiza combustible inyectado al final del golpe de compresión autoencendido.
        hr
        article.content__article
          //- h3.subtitle__content_big Bosch
          #BOSCH.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isologo-bosch.jpg", alt="BOSCH")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -1.jpg", data-fancybox="bosch", data-caption="Inyector Bosch Ford Racing 880cc Oem")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -1.jpg", alt="Inyector Bosch Ford Racing 880cc Oem")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Bosch Ford Racing 880cc Oem
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -2.jpg", data-fancybox="bosch", data-caption="Inyector isl 8.9 lt cummis 0445 120304 Bosch")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -2.jpg", alt="Inyector isl 8.9 lt cummis 0445 120304 Bosch")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector isl 8.9 lt cummis 0445 120304 Bosch
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -3.JPG", data-fancybox="bosch", data-caption="Inyector Bosch Renault 1.9 DCI")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -3.JPG", alt="Inyector Bosch Renault 1.9 DCI")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Bosch Renault 1.9 DCI
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyector Bosch -4.jpg", data-fancybox="bosch", data-caption="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo")
              img(src="images/sistemas-de-inyeccion/thumb/Inyector Bosch -4.jpg", alt="Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Bosch 1.8 Audi A3 A4 A5 Seat Altea Exeo
          hr
          //- h3#zexel.subtitle__content_big Zexel
          #ZEXEL.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isotipo-zexel.jpg", alt="ZEXEL")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Zexel -1.jpg", data-fancybox="zexel", data-caption="T-ELEMENT 2 418 455 356, zexel plunger")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Zexel -1.jpg", alt="T-ELEMENT 2 418 455 356, zexel plunger")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text T-ELEMENT 2 418 455 356, zexel plunger
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyección diesel Zexel-4.jpg", data-fancybox="zexel", data-caption="Zexel - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/Inyección diesel Zexel-4.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Diesel - Zexel
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Zexel -2.jpg", data-fancybox="zexel", data-caption="Zexel - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Zexel -2.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Diesel - Zexel
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Zexel -3.jpg", data-fancybox="zexel", data-caption="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Zexel -3.jpg", alt="Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Fuel Inyector 23600-17030 For Toyota Land Cruiser HZJ80
          hr
          //- h3#delphi.subtitle__content_big Delphi
          #DELPHI.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isologo-delphi.jpg", alt="Delphi")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Delphi -3.jpg", data-fancybox="delphi", data-caption="Inyector original Delphi 2 huecos (Chevrolet Optra - Daewoo Lanos)")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -3.jpg", alt="Inyector original Delphi 2 huecos (Chevrolet Optra - Daewoo Lanos)")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector original Delphi 2 huecos (Chevrolet Optra - Daewoo Lanos)
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Delphi -1.jpg", data-fancybox="delphi", data-caption="Inyector Delphi Chevrolet Captiva 2.2 E5")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -1.jpg", alt="Inyector Delphi Chevrolet Captiva 2.2 E5")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Delphi Chevrolet Captiva 2.2 E5
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyectores Delphi -2.jpg", data-fancybox="delphi", data-caption="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2")
              img(src="images/sistemas-de-inyeccion/thumb/Inyectores Delphi -2.jpg", alt="Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector Delphi Mercedes Vito 110 / 113 / 116 CDI / Viano CDI 2,0 / 2,2
          hr
          //- h3#denso.subtitle__content_big Denso
          #DENSO.subtitle__content_big
            img.center__logo(src="images/sistemas-de-inyeccion/isologo-denso.jpg", alt="Denso")
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -2.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -2.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -4.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -4.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -1.jpg", data-fancybox="denso", data-caption="Inyectores de combustible - Denso")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -1.jpg", alt="Inyectores de combustible - Denso")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyectores de combustible - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/inyectores Denso -3.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/inyectores Denso -3.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          .gallery__item
            a.col__img(href="images/sistemas-de-inyeccion/Inyección diesel -6.jpg", data-fancybox="denso", data-caption="Denso - Sistema de Inyección")
              img(src="images/sistemas-de-inyeccion/thumb/Inyección diesel -6.jpg", alt="Sistemas de Inyeccioń")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Inyector diesel - Denso
          hr
      +aside('SISTEMAS DE INYECCIÓN')
    include blocks/footer.pug
