<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Tractores agrícolas
        //- img.center__logo(src="images/tractores/isotipo-zetor.png", alt="Tractores Zetor")
        article.content__article
          //- h3.subtitle__content 70 años en el mercado mundial
          figure.content__img
            img(src="images/tractores/zetor-1.jpg", alt="TRACTOR ZETOR")
          ul.content__list
              .col50
                li.content__li Motor diesel turbo intercooler
                li.content__li Toma de fuerza dos velocidades 540/1000 rpm.
                li.content__li Dirección hidrostática.
                li.content__li Bajo consumo de combustible.
                li.content__li Excelente relación precio/potencia.
              .col50
                li.content__li Fácil mantenimiento.
                li.content__li Alta confiabilidad
                li.content__li Disponibilidad de repuestos inmediata
                li.content__li Garantía de 18 meses ó 100 Hrs.
        hr
        article.table-container
          h3.subtitle__content_big Características Tractor
          table.table-rwd
            thead
              tr
                th TRACTOR
                th POTENCIA
                th TRACCIÓN
                th TRANSMISIÓN
                th CABINA
            tbody
              tr
                td MAJOR 80
                td 80 HP
                td SIMPLE
                td 12/12 VELOC
                td NO
              tr
                td MAJOR 80
                td 80 HP
                td DOBLE
                td 12/12 VELOC
                td SI
              tr
                td PROXIMA 85
                td 85 HP
                td SIMPLE              
                td 12/12 VELOC
                td NO
              tr
                td PROXIMA 85
                td 85 HP
                td DOBLE
                td 12/12 VELOC
                td SI
              tr
                td PROXIMA 100
                td 100 HP
                td DOBLE
                td 12/12 VELOC
                td SI
              tr
                td PROXIMA POWER
                td 120 HP
                td DOBLE
                td 24/24 VELOC
                td SI
        hr
        article.content__article
          h3.subtitle__content_big &#10003; Major 80 HP con cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -4.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -4.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          //- .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 80 cabina -3.jpg", data-fancybox="zetor", data-caption="Zetor Major 80 cabina")
              img(src="images/tractores/thumb/Zetor Major 80 cabina -3.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 cabina
          hr
          h3.subtitle__content_big &#10003; Major 80 HP sin cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor-Major-80-sin cabina.png", data-fancybox="zetor", data-caption="Zetor Major 80 sin cabina")
              img(src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 sin cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor-Major-80-sin cabina.png", data-fancybox="zetor", data-caption="Zetor Major 80 sin cabina")
              img(src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 sin cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor-Major-80-sin cabina.png", data-fancybox="zetor", data-caption="Zetor Major 80 sin cabina")
              img(src="images/tractores/thumb/Zetor-Major-80-sin cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 80 sin cabina
          hr
          h3.subtitle__content_big &#10003; Major 85 HP con cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 85 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major 85 cabina")
              img(src="images/tractores/thumb/Zetor Major 85 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 85 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 85 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major 85 cabina")
              img(src="images/tractores/thumb/Zetor Major 85 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 85 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major 85 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major 85 cabina")
              img(src="images/tractores/thumb/Zetor Major 85 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major 85 cabina
          hr
          h3.subtitle__content_big &#10003; Major Proxima 100 HP
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 100 -1.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 100")
              img(src="images/tractores/thumb/Zetor Major Proxima 100 -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 100
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 100 -2.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 100")
              img(src="images/tractores/thumb/Zetor Major Proxima 100 -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 100
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 100.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 100")
              img(src="images/tractores/thumb/Zetor Major Proxima 100.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 100
          hr
          h3.subtitle__content_big &#10003; Major Proxima 120 HP
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -3.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -3.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -2.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -2.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          hr  
          h3.subtitle__content_big &#10003; Proxima Power 120 HP
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -4.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -4.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina -1.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina -1.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
          .gallery__item
            a.col__img(href="images/tractores/Zetor Major Proxima 120 cabina.jpg", data-fancybox="zetor", data-caption="Zetor Major Proxima 120 cabina")
              img(src="images/tractores/thumb/Zetor Major Proxima 120 cabina.jpg", alt="Tractores Zetor")
              .gallery__hover Ver más <i class="icon-search"></i>
            //- p.gallery__text Major Proxima 120 cabina
      +aside('TRACTORES AGRÍCOLAS')
    include blocks/footer.pug
