<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    include blocks/header.pug
    section.section
      main.content
        h2.title__content Turbo-alimentadores
        .col60
          a.center__logo(href="images/turboalimentadores/turbo alimentador Garrett -3.jpg", data-fancybox="turboalimentadores", data-caption="Turboalimentadores")
            img(src="images/turboalimentadores/turbo alimentador Garrett -3.jpg", alt="Turboalimentadores")
        p.content__text Llamamos turbo al sistema de sobrealimentación que ayuda a comprimir el aire que circula hasta el motor, enviando así más oxígeno para mezclar con una mayor cantidad de carburante. De esta manera, al elevar la cantidad de combustión, se obtiene un aumento de potencia.
        p.content__text La potencia que es capaz de generar un motor depende básicamente de la cantidad de oxígeno que es capaz de hacer reaccionar con el combustible, por lo que cuanto más aire es capaz de “bombear” una mecánica, más fuerza tiene. Hay dos formas de conseguir que en un motor entre mucho aire: aumentando el volumen interno para que quepa la mayor cantidad posible o comprimir el aire para que sea capaz de entrar mucho en una cilindrada pequeña. Esta última alternativa es lo que se conoce como “sobrealimentación”  y se consigue comprimiendo el aire antes de meterlo en los cilindros. Para ello se emplean diferentes dispositivos, siendo el más utilizado el turbo.
        hr
        article.content__article
          //- h3#borgwarner.subtitle__content_big BorgWarner
          #BORGWARNER.subtitle__content_big
            img.center__logo(src="images/turboalimentadores/isologo-borgwarner.png", alt="BorgWarner")
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-1.jpg", data-fancybox="borgwarner", data-caption="Borg Warner EFR-7163 Turbo")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-1.jpg", alt="Borg Warner EFR-7163 Turbo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Borg Warner EFR-7163 Turbo
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-2.jpg", data-fancybox="borgwarner", data-caption="BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-2.jpg", alt="BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text BorgWarner EFR Series 7670 .92 A/R Turbocharger (375-650HP)
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-3.jpg", data-fancybox="borgwarner", data-caption="S300SX3 Turbo 66mm T4 Open 0.88 A/R")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-3.jpg", alt="S300SX3 Turbo 66mm T4 Open 0.88 A/R")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text S300SX3 Turbo 66mm T4 Open 0.88 A/R
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-4.jpg", data-fancybox="borgwarner", data-caption="BorgWarner EFR Turbo-6758-F Turbine Housing")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-4.jpg", alt="BorgWarner EFR Turbo-6758-F Turbine Housing")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text BorgWarner EFR Turbo-6758-F Turbine Housing
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-5.jpg", data-fancybox="borgwarner", data-caption="Borg Warner S257sx-e FMW Turbo")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-5.jpg", alt="Borg Warner S257sx-e FMW Turbo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Borg Warner S257sx-e FMW Turbo
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador BorgWarner-6.png", data-fancybox="borgwarner", data-caption="Borg Warner s500sx 88mm Turbocharger")
              img(src="images/turboalimentadores/thumb/turbo alimentador BorgWarner-6.png", alt="Borg Warner s500sx 88mm Turbocharger")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Borg Warner s500sx 88mm Turbocharger
          hr
          //- h3#garrett.subtitle__content_big Garrett
          #GARRETT.subtitle__content_big
            img.center__logo(src="images/turboalimentadores/isologo-garrett.jpg", alt="Garrett")
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -1.jpg", data-fancybox="garrett", data-caption="Garrett Powermax Turbocharger para 04.5-07 Powerstroke 6.0L Turbo")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -1.jpg", alt="Garrett Powermax Turbocharger para 04.5-07 Powerstroke 6.0L Turbo")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Garrett Powermax Turbocharger para 04.5-07 Powerstroke 6.0L Turbo
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -2.jpg", data-fancybox="garrett", data-caption="Turbo GARRETT 454135-5009S (Audi / Skoda / Volkswagen – A4 / A6 / A8 / Superb / Passat)")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -2.jpg", alt="Turbo GARRETT 454135-5009S (Audi / Skoda / Volkswagen – A4 / A6 / A8 / Superb / Passat)")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo GARRETT 454135-5009S (Audi / Skoda / Volkswagen – A4 / A6 / A8 / Superb / Passat)
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -3.jpg", data-fancybox="garrett", data-caption="Garrett Powermax 2003-07 Ford Powerstroke 6.0L Stage 1 Turbo F250 F350 F450 F550")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -3.jpg", alt="Garrett Powermax 2003-07 Ford Powerstroke 6.0L Stage 1 Turbo F250 F350 F450 F550")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Garrett Powermax 2003-07 Ford Powerstroke 6.0L Stage 1 Turbo F250 F350 F450 F550
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -4.jpg", data-fancybox="garrett", data-caption="Turboalimentador - Garrett")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -4.jpg", alt="Turbo Alimentador Garrett - Garrett")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo Alimentador Garrett
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -5.jpg", data-fancybox="garrett", data-caption="Turboalimentador - Garrett")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -5.jpg", alt="Turbo Alimentador Garrett - Garrett")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo Alimentador Garrett
          .gallery__item  
            a.col__img(href="images/turboalimentadores/turbo alimentador Garrett -6.png", data-fancybox="garrett", data-caption="Turboalimentador - Garrett")
              img(src="images/turboalimentadores/thumb/turbo alimentador Garrett -6.png", alt="Turbo Alimentador Garrett - Garrett")
              .gallery__hover Ver más <i class="icon-search"></i>
            p.gallery__text Turbo Alimentador Garrett
      +aside('TURBOALIMENTADORES')
    include blocks/footer.pug